/*ANA JÚLIA RIBEIRO FERREIRA 3C - 27.05.25*/

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Gravitas+One&family=Quicksand:wght@300..700&family=Sacramento&display=swap');

:root {

    /*CORES*/

    --cor-teste: #aaaa;
    --cor-branca: #fff;
    --cor-bege: #faf4e6;
    --cor-preta: #1f1b1b;

    --cor-roxa-pastel: #ecd2ff;
    --cor-roxa-escura: #7e5ba7;
    --cor-azul-pastel: #cdecfe;
    --cor-azul-escura: #3297d7;
    --cor-verde-pastel: #e9fdde;
    --cor-verde-escura: #57b488;
    --cor-laranja-pastel: #ffdcae;
    --cor-laranja-escura: #ee9f5b;
    --cor-vermelha-pastel: #ffa19c;
    --cor-vermelha-escura: #f86273;
    --cor-rosa-pastel: #ffe5ee;
    --cor-rosa-escura: #ff5b96;
    --cor-amarela-pastel: #fef6c2;
    --cor-amarela-escura: #f0cd3f;

    /*FONTES*/

    --fonte-base: "Epilogue", sans-serif;
    --fonte-cursiva: "Sacramento", cursive;
    --fonte-letrademao: "Quicksand", sans-serif;
    --fonte-destaque: "Gravitas One", serif;

    /*CURSORES*/
    --cursor-pointer: url('icones/pointer.png'), pointer;
    --cursor-auto: url('icones/normal.png'), auto;
}


body,
html {
    background-color: var(--cor-bege);
    font-family: var(--fonte-base);
    margin: 0;
    padding: 50px 100px;
    line-height: 1.5;
    text-align: justify;
    cursor: var(--cursor-auto);
}

a {
    text-decoration: none;
    color: var(--cor-preta);
    cursor: var(--cursor-pointer);
}

button {
    border: solid 2px var(--cor-preta);
    border-bottom: solid 5px var(--cor-preta);
    border-right: solid 3px var(--cor-preta);
    border-radius: 30px;

    padding: 10px 15px;
    background-color: transparent;
    color: var(--cor-preta);
    font-weight: 700;
    cursor: var(--cursor-pointer);
    margin: 30px 0 0 0;
}

button:active {
    transform: scale(0.9);
}